      
    <footer class="custom-footer">
        <div class="custom-container">
            <div class="custom-row">
                <div class="about-column">
                    <h6>Site credits</h6>
                    <p class="credits">
                        Created during the 2025 RGU hack by MoHackers for Core29, Wildlife Watch is a web applicatoin that upload and access ciritcal wildlife data. 
                    </p>
                </div>
    
                <div class="categories-column">
                    <h6>Form</h6>
                    <ul class="footer-links">
                        <li><a href="/#signup__container">Sign up for an account</a></li>
                    </ul>
                </div>
    
                <div class="quick-links-column">
                    <h6>Links</h6>
                    <ul class="footer-links">
                        <li><a href="/#signup__container">Sign up</a></li>
                        <li><a href="/#forum">Forum</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="custom-container">
            <div class="custom-row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2025 Wildlife Watch</p>
                </div>
            </div>
        </div>
    </footer>