<div class="second-nav">
    <ul>
        <li><a class="active" href="/account">Details</a></li>
        <li><a href="/badges">Badges</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/posts">Posts</a></li>
    </ul>
</div>