<!--
    Created by Michael Piercey 2206222
-->

<!DOCTYPE html>
<html lang="en">

<!-- Include the head -->
<%- include('../partials/head.ejs', { title: 'Badges | Wildlife Watch', cssFiles: ['/styles/badges.css'] }) %>


<body>


<!-- Include the navbar -->
<%- include('../partials/nav.ejs') %>
<%- include('../partials/secondnav.ejs') %>



<%- include('../partials/footer.ejs') %>

    <script src="scripts/badges.js"></script>
</body>

</html>




